{% extends 'donor/donorbase.html' %}
{% load static %}
{% block contents %}

<section class="ftco-section ftco-cart">
    <div class="container">
        <div class="row">
        <div class="col-md-12 ftco-animate">
            <div class="cart-list">
                <table class="table">
                    <thead class="thead-primary">
                      <tr class="text-center">
                        <th>S.No&nbsp;</th>
                        <th>Orphanize mail</th>
                        <th>Orphanize phonenumber</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for user_data in user_data %}
                  <tr class="text-center">
                <td>{{forloop.counter}}</td>
                <td class="product-name">{{user_data.email}}</td>
                <td class="quantity"> {{user_data.phoneno}}</td>
            </tr>
            {% endfor %}
                    </tbody>
                  </table>
              </div>
        </div>
    </div>
    </div>
</section>

{% endblock %}