{% extends 'user/userbase.html' %}
{% load static %}
{% block contents %}

<style>
  .table{
    background-color: #808080;
    color: White;
    border-radius: 10px;
  }
</style>

<section class="ftco-section ftco-cart">
    <div class="container">
        <div class="row">
        <div class="col-md-12 ftco-animate">
          <br>
            <div class="cart-list">
                <table class="table">
                    <thead class="thead-primary">
                      <tr class="text-center">
                        <th>S.No&nbsp;</th>
                        <th>Lunch</th>
                        <th>Location</th>
                        <th>Date</th>
                        <th>Image</th>
                        <th>Request</th>
                        <th>Directions</th>
                      </tr>
                    </thead>
                    <tbody>
                     {% for i in data %}
                  <tr class="text-center">
                <td>{{forloop.counter}}</td>
                <td class="product-name">{{i.cropname}} <p>{{i.description}}</p></td>
                <td class="quantity"> {{i.price}}</td>
                <td>{{i.cdate}}</td>
                <td class="image-prod"><img src="{{ i.file }}" alt="Product Image" style="width: 100px; height: auto;"></td>
                {% if i.status == 'waiting' %}
                <td><a class="btn btn-success" href="/request1/?uid={{ i.id }}" style="color:rgb(242, 242, 246)">Request</a></td>
                {% else %}
                <td> Requested</td>
                {% endif %}

                {% if i.status == 'waiting' %}
                <td><a class="btn btn-success" href="{{ i.location }}" style="color:rgb(242, 242, 246)">Get Directions</a></td>
                {% else %}
                <td> Requested</td>
                {% endif %}
            </tr>
            {% endfor %}
                    </tbody>
                  </table>
              </div>
        </div>
    </div>
    </div>
</section>

{% endblock %}