{% extends 'admin/adminbase.html' %}
{% load static %}
{% block contents %}

<section class="ftco-section img">
    <div class="container">
            <div class="row justify-content-end">
      <div class="col-md-6 heading-section ftco-animate deal-of-the-day ftco-animate">
          
        <p>
         <div class="row block-9">
      <div class="col-md-6 order-md-last d-flex">
        
        <form action="{%url 'updateachivement' %}" class="bg-white p-5 contact-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
          
            <div class="form-group">
                <textarea class="form-control" name="description" placeholder="Enter Descriptions" required></textarea>
            </div>
            
          <br>
          
          <div class="form-group">
            <input type="file" class="form-control" name="file" accept="image/*" placeholder="Select Product Image" required>
          </div><br>
          <div class="form-group">
            <input type="submit" value="Add Donation" class="btn btn-primary py-3 px-5">
          </div>
             {% if messages %}
                        {% for message in messages %}
                        <font color='RED'> {{ message }}</font>
                        {% endfor %}
                        {% endif %}
        </form>

      </div>
        </p>

      </div>
    </div>
    </div>
</section>

{% endblock %}